@media only screen and (max-width: 1200px) {
  .useLiquify-card {
    width: 40% !important;
    position: relative;
    /* padding-top: 2rem !important; */
  }
}

@media only screen and (max-width: 992px) {

  .main {

    margin-left: 6.25rem;
  }
  #main_nav {
    width: 6.25rem !important;
    position: fixed;
    top: 0;
    left: 0;
  }
  .top_nav{
    position: fixed;
    top: 0;
    right: 0;
    /* left: 6.25rem; */
  }
  .text-nav {
    display: none;
  }
  #asideToggle {
    display: none;
  }
  .useLiquify-card {
    width: 100% !important;
    position: relative;
    /* padding-top: 2rem !important; */
  }
  .cards-three-wrapper .card-three {
    width: 100% !important;
  }
  .cards-section-Two .cards-two-wrapper .card-two {
    width: 100%;
    
  }
  .nav_item{
    justify-content: center;
  }
  .card-two-content{
    flex-wrap: wrap-reverse;
  }
}
