@media only screen and (max-width: 1200px) {
  .useLiquify-card {
    width: 40% !important;
    position: relative;
  }
}

@media only screen and (max-width: 992px) {
  #main_nav {
    width: 6.25rem !important;
  }
  .top_nav{
    position: fixed;
    top: 0;
    right: 0;
  }
  .text-nav {
    display: none;
  }
  #asideToggle {
    display: none;
  }
  .useLiquify-card {
    width: 100% !important;
    position: relative;
  }
  .cards-three-wrapper .card-three {
    width: 100% !important;
  }
  .cards-section-Two .cards-two-wrapper .card-two {
    width: 100%;
  }
  .nav_item{
    justify-content: center;
  }
  .card-two-content{
    flex-wrap: wrap-reverse;
  }
}
