/* START FONTS  */
@font-face {
  font-family: 'Cera light';
  src: url('/assets/fonts/cera-gr-light.otf');
}
@font-face {
  font-family: 'Cera bold';
  src: url('/assets/fonts/cera-gr-bold.otf');
}
/* END FONTS  */

/* START GENERAL STYLES  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Cera light','Courier New', Courier, monospace;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}

ul li {
  list-style-type: none;
}

h6{
  font-family:'Cera bold', 'Courier New', Courier, monospace;
}
/* END GENERAL STYLES  */
/* START GLOBAL VARIABLES   */
:root {
  --primary-color: #de362e;
  --second-color: #0066ff;
  --dark-color: #000000;
  --gray-color: #333333;
  --light-color: #ffffff;
  --ceraLight-font:'Cera light';
  --ceraLight-font:'Cera bold';
  --font-size: 16px;
}
/* END GLOBAL VARIABLES  */


/* START HEADER  */
.header {
  height: 5rem;
  padding: 0;
  margin: 0 !important;
}
.nav-item img {
  cursor: pointer;
}
/* END HEADER  */

/* START ASIDE  */
.main_aside {
  width: 300px !important;
}
/* END ASIDE  */

.card {
  padding: 0 !important;
}
.card-body {
  padding: 0 !important;
}

.page_content {
  background-color: #fafafa;
}
/* START USE LINQUIFY SECTION  */
.useLiquify-card {
  margin: auto !important;
  width: 24% !important;
  position: relative;
  margin-bottom: 1rem !important;
}
.useLiquify-card .num {
  position: absolute;
  top: -1rem;
  left: calc(50% - 1rem);
  color: var(--light-color);
  background-color: var(--primary-color);
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* END USE LINQUIFY SECTION  */
/* START ASIDE SECTION  */

.main_aside {
  transition: 800ms ease-in-out all;
  width: 18rem !important;
  text-align: start;
  height: 100%;
  background-color: var(--light-color);
  /* border: solid 1px red; */
  padding: 0.4rem;
}
.aside_nav {
  background-color: #0066ff;
  border-radius: 8px;
}
.logo_wrapper{
  cursor: pointer;
}
.nav_item_wrapper {
  padding: 0.3rem 0;
  color: var(--light-color);
  border-radius: 5px;
}

.nav_item {
  display: flex;
  color: var(--light-color);
  padding: 0.6rem 1rem;
  margin: 0.5rem;
  cursor: pointer;
}
/* END ASIDE SECTION  */

.navbar-toggler {
  outline: 0 !important;
  border: 0 !important;
  width: 2rem;
}
.navbar-toggler:focus {
  outline: 0 !important;
  border: 0 !important;
  box-shadow: none !important;
}

.text-nav {
  transition: 300ms ease-in-out all;
}

.nav_item:hover {
  background-color: #00000033;
}

.nav_item span {
  padding-left: 1rem;
}
.overview {
  background-color: #00000033;
  position: relative;
  margin-bottom: 1.5rem;
  border-radius: 2px;
}
.overview::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 0.3rem;
  height: 100%;
  background-color: var(--primary-color);
}
hr {
  margin: 0.5rem !important;
  background-color: var(--light-color) !important;
  color: var(--light-color) !important;
}

.aside_nav_footer {
  margin-top: 8.2rem;
  padding-bottom: .5rem;
}

.useLiquify-card-wrapper {
  display: flex;
}

.useLiquify-card-footer button {
  background: var(--light-color);
  border: 1px solid var(--primary-color);
  border-radius: 2px;
  padding: 0.5rem;
  cursor: pointer;
  width: 100%;
  text-align: center;
  border-radius: 2px;
  letter-spacing: 0px;
  color: var(--primary-color);
}

.useLiquify-card {
  background: var(--light-color);
  box-shadow: 0px 0px 4px #00000014;
  border-radius: 2px;
}
.useLiquify-card-footer button:hover {
  background-color: var(--primary-color);
  border: 1px solid var(--light-color);

  color: var(--light-color);
}

/* START CARD TWO SECTION  */

.cards-section-Two {
  margin-bottom: 2rem;
}

.cards-section-Two .cards-two-wrapper {
}

.cards-section-Two .cards-two-wrapper .card-two {
  width: 49.2%;
  margin-bottom: 1rem;
  background: var(--light-color) 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 4px #00000014;
  border-radius: 2px;
}

.cards-section-Two .cards-two-wrapper .card-two a {
  color: var(--primary-color);
  font-weight: 500;
}
/* END CARD TWO SECTION  */
/* START CARD THREE SECTION  */
.cards-three-wrapper .card-three{
  background: #FFFFFF 0% 0% ;
box-shadow: 0px 0px 4px #00000014;
border-radius: 2px;
width: 32% !important;
}
.cards-section-three .cards-three-wrapper .card-three a {
  color: var(--primary-color);
  font-weight: 500;
}
/* END CARD THREE SECTION  */

/* CLASSES FROM JS  */

.hideSide{
  width: 6.25rem !important;
  /* overflow: hidden; */
}

.hideTextNav{
  display: none;
}
.hideIconHide{
  display: none;
}